@import "tailwindcss";

@theme {
 --color-primary: #4CBB17;
  --color-card: #D9D9D9;
  --color-text: #292929;
  --color-dark: #111;
  --color-bg: #466173;
  --shadow-xl:10px 10px 4px rgba(0, 0, 0, 0.5);


}

[data-theme="dark"] {
  --color-primary: #375c66;
  --color-card: #444444;
  --color-text: #FFFFFF;
  --color-dark: #D9D9D9;
  --color-bg: #9E9E9E;
}


body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}