:root {
  --primary-color: #4CBB17;
  --card-bg-color:#D9D9D9;
  --text-color:#292929;
  --dark-color:#000;
  --bg-color:#466173;

}


[data-theme="dark"] {
  --primary-color: #4CBB17;
  --card-bg-color:#444444;
  --text-color:#FFFFFF;
  --dark-color:#000;
  --bg-color:#9E9E9E;
  
}


body {
  margin: 0;
  padding: 0px;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

} 

.shadow{
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5);
}